node_modules/
.pnpm-store/

dist/
build/
.next/
out/
.turbo/
*.tsbuildinfo

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
*.log
npm-debug.log*
coverage/
.vercel
.idea/
.vscode/*
!.vscode/extensions.json
